.my-list {
  background-color: #68f029;
  padding: 8px 24px;
  width: 500px;
  font-size: 30px;
  border: 1px solid #68f029;
  background-color: #68f029;
  box-shadow: 0 0 10px 2px #333333;
  margin: 12px auto;
  text-align: center;
}

.my-list ol {
  margin: 12px;
  text-align: left;
}

.my-list p.date {
  font-size: 30px;
}
